<h1>Edit transaction</h1>

<form id="edit-transaction" name="transaction">
  <div class="field">
    <label for="name"> name:</label>
    <input type="text" name="name" id="name" value=<%= name %> >
  </div>

  <div class="field">
    <label for="amount"> amount:</label>
    <input type="text" name="amount" id="amount" value=<%= amount %> >
  </div>

  <div class="field">
    <label for="date"> date:</label>
    <input type="text" name="date" id="date" value=<%= date %> >
  </div>

  <div class="actions">
    <input type="submit" value="Update Transaction" />
  </div>

</form>

<a href="#/index">Back</a>