<h1>Listing transactions</h1>

<table id="transactions-table">
  <tr>
    <th>Name</th>
    <th>Amount</th>
    <th>Date</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
</table>

<br/>

<a href="#/new">New Transaction</a>