
<div id="transactions"></div>
<script type="text/javascript"> 
  $(function() {
     window.router = new Biftons.Routers.TransactionsRouter({posts: <%= @transactions.to_json.html_safe -%>});
     Backbone.history.start();
   });
 </script>

